.page-width: .workspace
    .row 
        .col-1
        .col-3 
            button(type='button' ng-click='allOn()') ALL ON
            button(type='button' ng-click='allOff()') ALL OFF
        .col-8
            .message-box
                input(id='message-box' ng-model='playground.lb_message' type='text' maxlength=140 width=140 placeholder='send a message to the lightboard')
                button(type='button' id='message-box-send' ng-click='sendMessage()') Send
    .workspace-body: .row

        .col-6

            editor(
                ng-model='playground.code',
                editable='true',
                auto-select='false',
                workspace,
                tabbed='true',
                controls='true'
                )

        .col-6

            display(
                source='playground.code',
                workspace,
                mode='"playground"'
                )

    .popup-discover(ng-if='blade_available && blade_popup_open')
        h4 Device connected
        P You just connected <br> 
        p 
            strong {{ display_name }} 
            | produced by 
            strong {{ producer }}
        button(ng-click="closePopup()") Close


