.page-width: .workspace

    .workspace-header(ng-show='remix')
        .inner(style='text-align: center')
            h2(ng-if='!next')
                | Remix This App
            | Make this app your own by remixing the code below! Play with the variables, add a new piece using the tabs on the left, and make it personal. 

    .workspace-body: .row

        .col-6

            editor(
                ng-model='playground.code',
                editable='true',
                auto-select='false',
                workspace,
                tabbed='true',
                controls='true',
                triggers='triggers'
                selected-trigger='selectedTrigger'
                )

        .col-6

            display(
                source='playground.code',
                workspace,
                mode='"playground"',
                trigger='selectedTrigger'
                )
