.page-width: .workspace
    h3.page-title
        i.icon-game
        | Playground

    .workspace-body: .row

        .col-6

            editor(
                ng-model='playground.code',
                editable='true',
                auto-select='false',
                workspace,
                tabbed='true',
                controls='true'
                )

        .col-6

            display(
                source='playground.code',
                workspace,
                mode='"playground"'
                )

    .popup-discover(ng-if='blade_available && blade_popup_open')
        h4 Device connected
        P You just connected <br> 
        p 
            strong {{ display_name }} 
            | produced by 
            strong {{ producer }}
        button(ng-click="closePopup()") Close
